.body {
  min-height: 300px;
}

.jumbotron {
  padding-top: 7rem;
  background-color: #add8e6;
}
#section {
  background-color: #add8e6;
}

section {
  padding-top: 7rem;
}

.contact {
  padding-bottom: none;
}

.copyright {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}
